@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  position: relative;
  justify-content: center;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1.5rem;
}

.row {
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  min-height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #1C1C1C;
  transition: 0.3s;
  color: #C96E12;
  width: 4.5rem;
}

.sidebar-link {
  display: block;
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.sidebar-link:hover {
  background-color: #888888;
  border-right: 0.25rem solid black;
  vertical-align: middle;
  text-decoration: none;
}


/*LAYOUT*/
.layout {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}


/* HEADER */
header {
  position: relative;
  height: 70vh;
  background-image: url('./assets/images/header-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #c4c3c3;
}

.header-content {
  min-width: 100%;
  position: absolute;
  top: 30%;
}

/* SEARCH BAR */
.search-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.custom-select {
  padding: 20px;
  min-height: 3rem;
  width: 25% !important;
  line-height: 3rem;
  border: 3px solid #C96E12 !important;
}

.search-bar {
  width: 70%;
  min-height: 3rem;
  position: relative;
  display: flex;
}

.input-search {
  width: 100%;
  border: 3px solid #C96E12;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #888888;
}

.btn-search {
  width: 10rem;
  border: 1px solid #C96E12;
  background: #C96E12;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* HOME PAGE*/
.signature {
  width: 100%;
  min-height: 8rem;
  background-color: #EC9D00;
  display: flex;
}

.signature-item {
  padding: 3rem 8rem;
  color: #7B3E0B;
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.content-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.culture-section {
  min-height: 30rem;
  padding: 2rem;
}

.culture-title {
  font-size: 3rem;
  line-height: 4rem;
}

.culture-content {
  margin-top: 2rem;
}

.image-container {
  min-height: 50rem;
  overflow: hidden;
}

.flex-col {
  width: 50%;
}

.flex-row {
  height: 50%;
}

.flex-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

iframe {
  display: block;
  width: 100%;
  height: 30rem;
  border: none;
}

/*FORM */
.form {
  border: 1px solid black;
  box-shadow: 10px 10px #888888;
  width: 30rem;
  margin: 1rem auto;
  padding: 2rem;
}

.form-group {
  margin-top: 1rem;
}

.form-control {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin: 0.75rem 0;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}

.btn-submit {
  margin-top: 1rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border-color: black;
}

/* USER DASHBOARD */
.option-link {
  margin-bottom: 2rem;
  border: 0.25rem solid black;
  box-shadow: 0.5rem 0.5rem #888888;
  padding: 1rem;
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  line-height: 1rem;
  width: 70%;
}


.option-link:hover {
  text-decoration: none;
  color: #EC9D00
}

.acc-info {
  font-size: 1.3rem;
}


/* CARD */
.input-group-prepend {
  height: 100%;
}

.badge {
  min-height: 20px;
  background-color: #FAE96F;
  color: #07031a;
}


.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* FOOTER */
.footer {
  min-height: 80vh;
  background-image: url('./assets/images/footer-bg.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

}

.footer-content {
  font-size: 0.75rem;
  padding-top: 5%;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #888888;
  text-align: center;
}
